**.exe

debug
release

Makefile.Debug
Makefile.Release
lib

gcoder.pro.user*

Makefile

.moc
.ui
.obj
.rcc

**.swp

*.o

.qglviewer.xml

bin
gen
target

qgcoder

build-stamp
debian/gcoder.debhelper.log
debian/gcoder.substvars
debian/gcoder/
debian/files

.qmake.stash
gcoder-build-deps_0.0.0-ubuntu1_all.deb
gcoder-build-deps_0.0.0-ubuntu1_amd64.buildinfo
gcoder-build-deps_0.0.0-ubuntu1_amd64.changes
x

qgcoder.pro.user

