**.exe

debug
release

Makefile.Debug
Makefile.Release
lib

gcoder.pro.user*

Makefile

.moc
.ui
.obj
.rcc

**.swp

*.o

.qglviewer.xml

bin
gen
target

gcoder

build-stamp
debian/gcoder.debhelper.log
debian/gcoder.substvars
debian/gcoder/
debian/files

