Source: gcoder
Section: graphics
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Uploaders: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), automake, libtool, qt5-qmake, qtbase5-dev, libqglviewer-dev, freeglut3-dev, libglew1.6-dev, 
Standards-Version: 3.9.1
Homepage: https://github.com/koppi/gcoder
Vcs-Git: git://github.com/koppi/gcoder
Vcs-Browser: https://github.com/koppi/gcoder


Package: gcoder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gcoder
 G-Code editor with 3D preview.
